

.m-t-lg {
  margin-top: 25px;
}

.m-l-n-sm {
  margin-left: -10px;
}


.ql-container {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  position: relative;
}
