.m-t-sm-n {
  margin-top: -10px;
}

.p-sm {
  padding: 10px;
}


.filter-divider {
  margin-top: -40px;
  margin-right: 20px;
}

.h-50 {
  height: 50px;
}

.bd-gray {
  border: 1px solid #e7eaec;
}

.filter-content {
  background: #f3f3f4;
  border-radius: 10px;
}
