.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
}

.logo-teatrou-white{
  padding: 11px 15px;
  margin-top: 7px;
  margin-left: 15px;
}

.white-nav {
   background-color: #ffffff !important;
}
