.bd-gray {
  border: 1px solid #e7eaec;
}


.image-imitation {
  margin-left: auto;
  margin-right: auto;
  background-color:  #fff;
}


// .p-image-form {
//   padding: 0px 0 !important;
// }


.bd-n {
   border: none;
}

.image-imitation {
  background-color: none;
  border: 1px solid #e7eaec;
  padding: 40px;
}
